<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HotelNice</title>
    <link rel = "stylesheet" href = "home.css">
</head>
<body>
    <!----Hotel name---->
    <h1 id = "brand">Hotel: Not Trivago</h1>
    <!----Hotel room categories available---->
    <div class="content">
        <div class = "room">
            <a href = "details.html">
                <img src = "ac.jpg" style="width:200px;height:330px;">
                <h2>AC</h2>
                <p>King size bed, two people, 1 cabinet, one tea table with two chairs, brilliant view of the mountains.</p>
            </a>
        </div>

        <div class = "room">
            <a href = "details.html">
                <img src = "nonac.jpg" style="width:200px;height:330px;">
                <h2>Non-AC</h2>
                <p>King size bed, two people, 1 cabinet, one tea table with two chairs, brilliant view of the mountains.</p>
            </a>
        </div>

        <div class = "room">
            <a href = "details.html">
                <img src = "deluxe.jpg" style="width:200px;height:330px;">
                <h2>Deluxe</h2>
                <p>King size bed, two people, 1 cabinet, one tea table with two chairs, brilliant view of the mountains.</p>
            </a>
        </div>

        <div class = "room">
            <a href = "details.html">
                <img src = "single.jpg" style="width:200px;height:330px;">
                <h2>Single</h2>
                <p>King size bed, two people, 1 cabinet, one tea table with two chairs, brilliant view of the mountains.</p>
            </a>
        </div>

        <div class = "room">
            <a href = "details.html">
                <img src = "double.jpg" style="width:200px;height:330px;">
                <h2>Double</h2>
                <p>King size bed, two people, 1 cabinet, one tea table with two chairs, brilliant view of the mountains.</p>
            </a>
        </div>


    </div>
    
</body>
</html>